# This is a basic workflow to help you get started with Actions

# name: NPM publish

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
# on:
#   release: 
#     types: created

# jobs:
#   publish:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v1
#       - uses: actions/setup-node@v1
#         with:
#           node-version: 10
#       - run: npm install
#       - run: npm run build
#       - uses: JS-DevTools/npm-publish@v1
#         with:
#           token: ${{ secrets.NPM_TOKEN }}
#           package: ./dist/style/package.json
name: NPM publish manual
on:
  workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
    - run: npm install
    - run: npm run build
    - name: get-npm-version
      id: package-version
      uses: martinbeentjes/npm-get-version-action@master
    - name: npm publish
      run: npm publish dist/style
    - name: npm dist-tags
#     - run: echo 'version test 2 --> ${{ steps.package-version.outputs.current-version }}'
      run: npm dist-tags add @nicoleoliveira/voce-que-lute-style@${{ steps.package-version.outputs.current-version}}
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
